* {
    box-sizing: border-box;
}


/*Style the body*/

body{
    font-family: Arial;
    margin: 0;
}


/*Header/logo Title*/

.header {
    padding: 60px;
    text-align: center;
    background: brown;
    color: green;
}

.nice {
    padding: 10px;
    text-align: center;
    background:seashell;
    color: gold;
}

/*style the top navigation bar */

.navbar {
    font-family: sans-serif;
    display:block;
    background-color: grey;
    text-decoration: none;
}


/*Style the navigation bar links */

.navbar a {
    color:white;
    padding: 14px 20px;
    text-align: none;
    text-align: center;
    text-decoration: none;
}


/*Change color on hover*/

.navbar a:hover{
  background-color: gold;
}


/*Column container*/

.row{
    display: flex;
    flex-wrap: wrap;
}

/*list items in comment*/

form li{
  list-style: none;
}

label{
  display: block;
}

textarea{
  width: 400px;
  height: 200px;
}


/* Create two unequal columns that sites next to each*/


/*Sidebar/left column */

.side {
    flex: 30%;
    background-color: #f1f1f1ff;
    padding: 20px;
}


/*Main column*/

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}


/*Fake image, just for this example*/

.holdimage {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}


/*Footer */

.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
}


/*Respnsible layout - when the screen is less then 700px wide, make the two columns
stack on top of each other instead of next to each other */

@media (max-width: 700px) {
    .row
    .navbar {
        flex-direction: column;
    }
}
